<%
	local node = luci.dispatcher.context.dispatched;
	local hostname = luci.sys.hostname();
	local lang = luci.i18n.context.lang;
	luci.http.prepare_content("text/html; charset=UTF-8");
-%>

	<!DOCTYPE html>
	<html lang="<%=lang%>">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--  -->
		<!--  -->
		<link rel="stylesheet" href="<%=media%>/assets/style.css?v=<%=math.random(1,100000)%>">
		<!--  -->
		<title>
			<%=hostname%> - LuCI
		</title>
		<!--  -->
	</head>
	<body name="<%=hostname%>"   class="lang_<%=lang%> <% if node then %><%= striptags( node.title ) %><%- end %>" >
		<div id="themedog_loginer">
			<div class="loginer-container">
				<div class="login-logo">
					<%=hostname%>
				</div>
				<% if fuser then %>
					<div class="login-message">
						<%:Invalid username and/or password! Please try again.%>
					</div>
					<% end %>
					<form method="post" class="cbi-map">
						<div class="cbi-section-node">
							<div class="cbi-value">
							
								<div class="cbi-value-field">
									<input name="luci_username" placeholder="<%:Username%>" type="text" <%=attr("value", duser)%>>
								</div>
							</div>
							<div class="cbi-value">
								<div class="cbi-value-field">
									<input name="luci_password" placeholder="<%:Password%>" type="password">
								</div>
							</div>
						</div>

						<div class="cbi-page-actions">
							<button class="btn cbi-button-positive important">
								<%:Login%>
							</button>
						</div>
					</form>
			</div>
		</div>
	</body>

	</html>