<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[AdGuardHome]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('AdGuardHome_status');
		if (data && tb) {
			if (data.running) {
				tb.innerHTML = '<em><b style=color:green>AdGuardHome <%:RUNNING%></b></em>';
			} else {
				tb.innerHTML = '<em><b style=color:red>AdGuardHome <%:NOT RUNNING%></b></em>';
			}
			if (data.redirect)
			{
				tb.innerHTML+='<em><b style=color:green><%:Redirected%></b></em>'
			} else {
				tb.innerHTML+='<em><b style=color:red><%:Not redirect%></b></em>'	
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="AdGuardHome_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>