<%#
	edge is a clean HTML5 theme for LuCI. It is based on luci-theme-material edge Template

	luci-theme-edge
	Copyright 2019 Jerrykuku <jerrykuku@qq.com>

	Have a bug? Please create an issue here on GitHub!
	https://github.com/jerrykuku/luci-theme-edge/issues

	luci-theme-material: 
	Copyright 2015 Lutty Yang <lutty@wcan.in>
	
	Agron Theme
	https://demos.creative-tim.com/edge-dashboard/index.html 

	Licensed to the public under the Apache License 2.0 
-%>

<%
	local ver = require "luci.version"
	local disp = require "luci.dispatcher"
	local request  = disp.context.path
	local category = request[1]
	local tree = disp.node()
	local categories = disp.node_childs(tree)
%>
	</div>
	
 <footer class="mobile-hide">
                    <a href="https://github.com/openwrt/luci">Powered by <%= ver.luciname %> (<%= ver.luciversion %>)</a> /
                    <%= ver.distversion %>
                    <% if #categories > 1 then %>
                    <ul class="breadcrumb pull-right" id="modemenu">
                        <% for i, r in ipairs(categories) do %>
                        <li<% if request[1] == r then %> class="active"<%end%>><a href="<%=controller%>/<%=r%>/"><%=striptags(translate(tree.nodes[r].title))%></a> <span class="divider">|</span></li>
                        <% end %>
                    </ul>
                    <% end %>
                </footer>
            </div>
        </div>

    <script>
        // thanks for Jo-Philipp Wich <jow@openwrt.org>
        var luciLocation = <%= luci.http.write_json(luci.dispatcher.context.path) %>;
    </script>
    
   <script src="<%=media%>/js/script.js"></script>
<script src="<%=media%>/js/waves.js"></script>
</body>
</html>	

