<%+header%>
<script>
    (function(){
        var vue_prefix="<%=prefix%>";
        var myurl = window.location.pathname;
        window.addEventListener('popstate', function(){
            if (myurl != window.location.pathname 
              && window.location.pathname != vue_prefix 
              && ! window.location.pathname.startsWith(vue_prefix+'/')) {
                window.location.href = window.location.pathname;
            }
        });
        window.vue_base = vue_prefix + '/';
        // window.istore_api_base = "https://istore.linkease.com";
        window.vue_lang_data = '/luci-static/istore/i18n/<%=lang%>.json?v=<%=id.version%>';
        window.vue_lang = '<%=lang%>';
        window.token = "<%=token%>";
        window.device_id = {arch:"<%=id.arch%>",uid:"<%=id.uid%>",version:"<%=id.version%>"};
    })();
</script>
<h2 name="content"><%:iStore%> 
    <a onclick="void(0)" href="https://github.com/linkease/istore/issues/22" target="_blank" style="text-decoration: none;">
        v<%=id.version%>
    </a>
</h2>
<link rel="stylesheet" href="/luci-static/istore/style.css?v=<%=id.version%>">
<div id="app">
</div>
<script type="module" crossorigin src="/luci-static/istore/index.js?v=<%=id.version%>"></script>
<%+footer%>