<%+cbi/valueheader%>
<textarea id="log" class="cbi-input-textarea" style="width: 100%;" data-update="change" rows="29" readonly="readonly" > </textarea>

<script type="text/javascript">//<![CDATA[

	var lv = document.getElementById('log');
	lv.innerText = "Reading..."
	lv.style.display="inline"
	XHR.poll(3, '<%=url([[admin]], [[services]], [[clash]], [[logstatus]])%>', null,
		function(x, data) {
			if(x && x.status === 200) {
			if(typeof(x.responseText) === "string") {
				lv.insertAdjacentText("beforeend", x.responseText);
				lv.scrollTop = lv.scrollHeight;
			}}});
//]]>
</script>
<%+cbi/valuefooter%>
