<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url("admin/services/ddnsto_status")%>', null,
		function(x, st)
		{
			var tb = document.getElementById('ddnsto_status');
			if (st && tb)
			{
				if (st.running)
				{
					tb.innerHTML = '<br/><%:The DDNS.to service is running.%>';
				}
				else
				{
					tb.innerHTML = '<br/><em><%:The DDNS.to service is not running.%></em>';
				}
			}
		}
	);
//]]></script>

<fieldset class="cbi-section">
	<legend><%:DDNS.to Status%></legend>
	<p id="ddnsto_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
