/**
 *  Opentopd is a clean HTML5 theme for LuCI. It is based on luci-theme-material and Argon Template
 * https://github.com/sirpdboy/luci-theme-opentopd  
 *   
 *      Copyright 2020 sirpdboy
 *  luci-theme-bootstrap:
 *      Copyright 2008 Steven Barth <steven@midlink.org>
 *      Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 *      Copyright 2012 David Menting <david@nut-bolt.nl>
 *
 *  MUI:
 *      https://github.com/muicss/mui
 *
 *  luci-theme-material:
 *      https://github.com/LuttyYang/luci-theme-material/
 *
 *  Agron Theme
 *	    https://demos.creative-tim.com/argon-dashboard/index.html
 *
 *
 *  Licensed to the public under the Apache License 2.0 
 */
@font-face{font-family:'sirpdboy';src:url('../fonts/sirpdboy.eot?uaho9q');src:url('../fonts/sirpdboy.eot?uaho9q#iefix') format('embedded-opentype'),url('../fonts/sirpdboy.ttf?uaho9q') format('truetype'),url('../fonts/sirpdboy.woff?uaho9q') format('woff'),url('../fonts/sirpdboy.svg?uaho9q#sirpdboy') format('svg');font-weight:normal;font-style:normal;font-display:block}[class^="icon-"],[class*=" icon-"]{font-family:'sirpdboy' !important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-vpn:before{content:"\e900"}.icon-info:before{content:"\e901"}.icon-docker:before{content:"\e902"}.icon-pasword:before{content:"\e90c"}.icon-service:before{content:"\e904"}.icon-nas:before{content:"\e905"}.icon-home:before{content:"\e906"}.icon-password2:before{content:"\e90d"}.icon-network:before{content:"\e908"}.icon-user:before{content:"\e909"}.icon-cheveron-right:before{content:"\e90a"}.icon-system:before{content:"\e90b"}.icon-Network:before{content:"\e911"}.icon-cheveron-down:before{content:"\e20b"}.icon-cheveron-up:before{content:"\e20a"}.icon-spinner:before{content:"\e903"}.icon-spinner2:before{content:"\e603"}.icon-menu:before{content:"\e20e"}.icon-exit:before{content:"\e907"}.icon-checkmark:before{content:"\e90e"}.icon-cancel:before{content:"\e90f"}.icon-stats:before{content:"\e910"}.icon-question:before{content:"\f059"}