/**
 *  Opentopd is a clean HTML5 theme for LuCI. It is based on luci-theme-material and Argon Template
 *
 *  luci-theme-opentopd
 *      Copyright 2020 sirpdboy
 *  luci-theme-bootstrap:
 *      Copyright 2008 Steven Barth <steven@midlink.org>
 *      Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 *      Copyright 2012 David Menting <david@nut-bolt.nl>
 *
 *  MUI:
 *      https://github.com/muicss/mui
 *
 *  luci-theme-material:
 *      https://github.com/LuttyYang/luci-theme-material/
 *
 *  Agron Theme
 *	    https://demos.creative-tim.com/argon-dashboard/index.html
 *
 *
 *  Licensed to the public under the Apache License 2.0 
 */

@font-face {
    font-family: 'advancedtomato';
    src: url('../fonts/advancedtomato.eot?u6kthm');
    src: url('../fonts/advancedtomato.eot?u6kthm#iefix') format('embedded-opentype'),
        url('../fonts/advancedtomato.ttf?u6kthm') format('truetype'),
        url('../fonts/advancedtomato.woff?u6kthm') format('woff'),
        url('../fonts/advancedtomato.svg?u6kthm#argon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
 
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "advancedtomato" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-expand_more:before {
    content: "\e20b";
}

.icon-menu:before {
    content: "\e20e";
}

.icon-favorite:before {
    content: "\e291";
}

.icon-spinner:before {
    content: "\e603";
}

.icon-delete:before {
    content: "\e900";
}

.icon-edit:before {
    content: "\e901";
}

.icon-use:before {
    content: "\e902";
}

.icon-loading:before {
    content: "\e903";
}

.icon-switch:before {
    content: "\e904";
}

.icon-error:before {
    content: "\e905";
}

.icon-dashboard:before {
    content: "\e906";
}

.icon-logout:before {
    content: "\e907";
}

.icon-Network:before {
    content: "\e908";
}

.icon-services:before {
    content: "\e909";
}

.icon-system:before {
    content: "\e90a";
}

.icon-vpn:before {
    content: "\e90b";
}

.icon-storage:before {
    content: "\e90c";
}

.icon-statistics:before {
    content: "\e90d";
}

.icon-hello-world:before {
    content: "\e90e";
}

.icon-angle-right:before {
    content: "\e90f";
}

.icon-password:before {
    content: "\e910";
}

.icon-user:before {
    content: "\e971";
}

.icon-question:before {
    content: "\f059";
}

.icon-docker:before {
    content: "\e911";
}

.icon-control:before {
    content: "\e912";
}

.icon-statistics1:before {
    content: "\e913";
}

.icon-asterisk:before {
    content: "\e914";
}

.icon-app:before {
    content: "\e915";
}