
config openlist2
	option enabled '0'
	option port '5244'
	option delayed_start '0'
	option allow_wan '0'
	option force '1'
	option token_expires_in '48'
	option max_connections '0'
	option tls_insecure_skip_verify '1'
	option data_dir '/etc/openlist2'
	option temp_dir '/tmp/openlist2'
	option log '1'
	option log_max_size '10'
	option log_max_backups '5'
	option log_max_age '28'
	option log_compress '0'
	option database_type 'sqlite3'
	option ssl '0'
	option download_workers '5'
	option download_max_retry '1'
	option transfer_workers '5'
	option transfer_max_retry '2'
	option upload_workers '5'
	option upload_max_retry '0'
	option copy_workers '5'
	option copy_max_retry '2'
	option cors_allow_origins '*'
	option cors_allow_methods '*'
	option cors_allow_headers '*'
	option s3 '0'

