<script>
		setTimeout(function(){
		var links = document.createElement('div');
		links.innerHTML ='<div class="table"><div class="tr"><div class="td left" width="33%"><a href="https://t.me/joinchat/JjxmyRZZXJWb74I-sCrryA" target="_blank">TG交流</a></div><div class="td left" width="33%"><a href="https://github.com/kenzok78" target="_blank">GitHub仓库</a></div><div class="td left"><a href="https://github.com/kenzok78/OpenWrt/actions" target="_blank">固件下载</a></div></div></div>';
		var telegram = document.querySelectorAll(".cbi-section")[0];
		telegram.appendChild(links);
		}, 3000);
</script>