<%#
 Copyright 2021-2022 sirpdboy Wich <herboy2008@gmail.com>
 https://github.com/sirpdboy/luci-app-lucky
 Licensed to the public under the Apache License 2.0.
%>

<%+header%>

<script type="text/javascript">//<![CDATA[
var URL = ""
		XHR.get('<%=url([[admin]], [[services]], [[lucky_config]])%>', null,
			function (x, d) {
				if (d) {
					URL = "http://" + window.location.hostname + ":" + d.BaseConfigure.AdminWebListenPort;
					if (d.BaseConfigure.SafeURL != undefined) {
						URL += d.BaseConfigure.SafeURL;
						
       console.log("test" + URL)
       document.getElementById("luckyiframe").src = URL
       document.getElementById("luckyiframe").height = document.documentElement.clientHeight;
       window.onresize = function(){
          document.getElementById("luckyiframe").height = document.documentElement.clientHeight;
        }
	
					}
				}
			}
		);
	
//]]></script>
<div class="cbi-map">

<iframe  id="luckyiframe" style="width: 100%; min-height: 780px; border: none; border-radius: .375rem;box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 15px -5px;"><br/><em style=\"color:red\">
<p ><em><%:The Lucky service is not running.%></em></p>
</iframe>

</div>

<%+footer%>
