<%+header%>

<script>
    (function(){
    })();
</script>
<div id="app">
</div>

<script>
  window.IstoreosFormConfig = {
    getApi:"/cgi-bin/luci/admin/services/ddnsto/form/",
    logApi:"/cgi-bin/luci/admin/services/ddnsto/log",
    submitApi:"/cgi-bin/luci/admin/services/ddnsto/submit/",
  }
</script>
<script type="module" crossorigin src="/luci-static/ddnsto/index.js?v=<%=math.random(1,100000)%>"></script>
<link rel="stylesheet" href="/luci-static/ddnsto/style.css?v=<%=math.random(1,100000)%>">
<%+footer%>